flake8==3.8.4
mccabe==0.6.1
#pkg-resources==0.0.0
pycodestyle==2.6.0
pyflakes==2.2.0

py==1.9.0
attrs==20.3.0
six==1.15.0
more-itertools==8.6.0
pluggy==0.13.1
pytest==6.1.2

#Coverage
coverage==5.3
pytest-cov==2.10.1

-r requirements.txt


